.TodoItem {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border: solid black 1px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px black;
  background-color: aliceblue;
  margin: 5px;
  margin-top: 10px;
  padding: 5px;
  width: 300px;
}

.TodoItem-p {
  margin: 5px;
  text-align: center;
  font-size: large;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}
.TodoItem-complete {
  box-shadow: 0px 5px 5px green;
}

@media (max-width: 600px) {
  .TodoItem {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
  }
}